<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="A description">
    <%- css %>
</head>

<body class="page-body <%= bodyClass %>">

<header class="main-header hiding-header">
    <nav class="container">
        <div class="row">
            <a class="logo" href="/"><img src="/public/images/logo-header.png"  rel="Spruce : Barber &amp; Clothier : Get Empowered" /></a>
            <a class="col-md-3">Get Spruced</a>
            <a class="col-md-3 join">Join the Team</a>
            <a class="col-md-3 investors">Investors</a>
            <a class="col-md-3">Contact</a>
        </div>
    </nav>
</header>


<% include partials/notices.ejs %>

<%- body %>


<%- js %>

<script>
    new WOW().init();
</script>

</body>
</html>
